@charset "utf-8";
*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
div#um{
    background-image: url(pacote-d013/imagens/frame-iphone.png);
    background-repeat: no-repeat;
    width: 311px;
    height: 627px;
    background-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}
iframe{
    width: 100%;
    height: 100%;
    border: none;
    background-color: white;
}
body{
    background-image: url(pacote-d013/imagens/fundo-madeira.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
#um > iframe{
   width: 268px;
   height: 476px;
}
main{
    position: relative;
    height: 100vh;
    flex-wrap: wrap;
}
html, body{
    width: 100vw;
    height: 100vh;
    background-color: black;
}
#dois{
    display: flex;
    flex-direction: column;
    align-items: end;
    position: fixed;
}
#dois > a > img{
    width: 60px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
}
#dois > a > img:hover{
    animation-duration: 5s;
    box-shadow: 2px 1px 10px 2px black;
}

